.content {
	position: "relative";
}

.ContentTitle {
	font-size: 80px;
	position: relative;
	z-index: 2;
	font-family: "Caveat";
}

.brushTitle {
	position: relative;
    left: 0px;
    bottom: 60px;
    z-index: 1;
}

@media (max-width: 526px) {
  .ContentTitle {
    font-size: 60px;
  }
  .brushTitle {
  	width: 350px;
    bottom: 50px;
  }
}

@media (max-width: 402px) {
  .ContentTitle {
    font-size: 40px;
  }
  .brushTitle {
  	width: 250px;
    bottom: 40px;
  }
}