.rowForm {
	margin-top: 100px !important;
}

label {
	display: block !important;
	font-family: "Open_Sans";
	float: left;
}

.btn {
	float: right !important; 
	background-color: #D8AD3D !important; 
	color: #fff !important;
	border-radius: 25px !important; 
	padding: 10px 40px !important;
}

@media (max-width: 767px) {
	.btn {
		float: none !important;
	}
}

.input {
	padding:  10px !important;
}

.input:focus {
	outline: none !important;
  	box-shadow: none !important;
	border: 2px solid #D8AD3D !important;
}

.error {
	color: #E75050;
}